$color-bg-header:#212834;
$col-white:#ffffff;
$col-black:#000000;
$col-gradient:#7B5AC5;
$col-gradient-2:#A588E7;
$col-bg-main:#151a24;
$col-red:#FF0000;
$col-blue:#004DC1;
$col-Aeronautic:#2B3548;
$col-toxic-green:#61E224;
$col-shadow-gargoyle:#686868;
$col-dark:#1A202C;                          
$col-gloomy-purple:#805AD5;
$col-blossoming-dynasty:#E04F44;
$col-purple-illusionist:#A37DF9;
$col-infinity:#212734;
$col-equilibrium:#A3A0A0;
$col-nav-blazer:#252d3b;
$col-gloomy-purple:#805AD5;
$col-green-high:#58C925;
$col-duvall:#128994;
$col-arc-light:#CAD9FF;
$col-lime-parfait:#97C876;
$col-trinidad-moruga-scorpion:#D23737;
$col-anchors-aweigh:#2B3341;